body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Normal weight */
}

h1, h2, h3 {
    font-weight: 700; /* Bold weight */
}

.aside{
    float: left;
    justify-content: flex-start;
    max-width: 100%;
}
    

.list-buku{
    margin: 0;
    justify-content: flex-end;
}